<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {{ logs }}
    <br>
        {{ logs.old_id.id }}<br>
        {{ logs.updatedate }}<br>
        {{ logs.messagelog }}<br>
       
    {{ log }}
<br>
        {{ log.id }}<br>
        {{ log.clientname }}<br>
        {{ log.assignee }}<br>
        {{ log.status }}<br>
    
</body>
</html>


